.idea/*
.DS_Store
.ipynb_checkpoints/*
notebooks/.ipynb_checkpoints/*
__pycache__/*
speech.pkl
speeches.pickle
question_answer_pairs.pkl
Untitled.ipynb
Untitled1.ipynb
dataset.pkl
filtered_data.pkl
filtered_dataset.pkl
final_data.pkl
again.tsv
final_lemmas.pkl
