.idea/*
.DS_Store
.ipynb_checkpoints/*
notebooks/.ipynb_checkpoints/*
__pycache__/*
old_files/speech.pkl
speeches.pickle
old_files/question_answer_pairs.pkl
Untitled.ipynb
Untitled1.ipynb
old_files/dataset.pkl
old_files/filtered_data.pkl
old_files/filtered_dataset.pkl
data/*
